body,
html,
#main {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%
}

body {
    background-color: black;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#income {
    color: yellow;
    font-size: 1.6rem;
    height: 2rem;
    margin: 1rem auto;
    text-align: center;
}

#canvas {
    border: 1px solid white;
}
